html, body{
  height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    background: #000;
    color: white;
    align-items: center;
    justify-content: center;
}

#sidebar{
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 40px;
}

#links{
    font-size: 50px;
    margin-bottom: 50px;
}

p{
  max-width: 100px;
  text-align: center;
}
a{
    color: white;
}

#links a{
    margin: 20px;
}

#controls{
  height: 90%;
  margin-left: 10px;
}

#controls, #modes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#controls button{
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    background: transparent;
}

#controls button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
